{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}ユーザーを招待{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h1>{{ room['title'] }}</h1>
  <div class="about">by {{ room['username'] }}</div>
  <hr>
  <form method="post">
  {% for user in users %}
    <label for="{{ user['guest_id'] }}">{{ user['username'] }}</label>
    <input type="checkbox" id="{{ user['guest_id'] }}" name="check" value="{{ user['guest_id'] }}">
  {% endfor %}
    <input type="submit" value="Next">
  </form>
{% endblock %}
