{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}ユーザーを招待{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h1>{{ room['title'] }}</h1>
  <div class="about">by {{ room['username'] }}</div>
  <hr>
  <form method="post">
  {% for participant in participants %}
  {% if participant['user_id'] != g.user['id'] %}
    <div>
      <label for="{{ participant['user_id'] }}">{{ participant['username'] }}</label>
      <input type="checkbox" id="{{ participant['user_id'] }}" name="check" value="{{ participant['user_id'] }}" checked>
    </div>
  {% endif %}
  {% endfor %}
  {% for user in users %}
    <div>
      <label for="{{ user['guest_id'] }}">{{ user['username'] }}</label>
      <input type="checkbox" id="{{ user['guest_id'] }}" name="check" value="{{ user['guest_id'] }}">
    </div>
  {% endfor %}
    <input type="submit" value="Next">
  </form>
{% endblock %}
