{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}rooms{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('room.introduce') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for room in rooms %}
    <article class="post">
      <header>
        <div>
          <h1>{{ room['title'] }}</h1>
          <div class="about">by {{ room['username'] }}</div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
