html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
}

body {
    margin: 0 auto;
    background: white;
    width: 100%;
    height: 96vh;
}

h1 {
    font-family: serif;
    color: #5C4B51;
    margin: 1rem 0 0 0;
    white-space: nowrap;
    width: fit-content;
}

a {
    color: #F06060;
    text-decoration: none;
}

/* 青丸形ボタン */

.btn--rounded,
a.btn--rounded {
    margin: 3rem 0.25rem 0.25rem 0rem;
    min-width: 4rem;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: #8CBEB2;
    border-radius: 2rem;
}

.btn--rounded:active,
a.btn--rounded:active {
    color: #fff;
    background: #3dd4b1;
}

/* ホームに戻る用白立体ボタン */

a.btn--square {
    color: black;
    display: block;
    width: fit-content;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background: #f1e767;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
    -webkit-box-shadow: inset 1px 1px 1px #fff;
    box-shadow: inset 1px 1px 1px #fff;
}

a.btn--square:active {
    background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

a.seat {
    display: inline-block;
    width: 30%;
    max-width: 7rem;
    background-color: #F3B562;
    color:  #5C4B51;
    border-radius: 1rem;
}

a.seat:active {
    color:  #5C4B51;
    background: #f56500;
}

a.seat-dummy {
    background-color: #fff;
    color: #fff;
    border: #fff;
}

.table-margin {
    display: inline-block;
    width: 20%;
    height: 1rem;
    padding: 0px 0px;
    /* 席の間隔表示用 */
    border: 10px solid #ddd;
    color: #ddd;
    background: #ddd;

}

.scroll {
    overflow: scroll;
    border: gray 0.5px solid;
    width: 100%;
    max-height: 8rem;
    padding: 10px 15px;
    margin: 1rem 0rem 1rem 0rem;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

.seats {
    max-height: 80%;
    position: relative;
    text-align: center;

}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: #F2EBBF;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    height: 6rem;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
    display: block;
    padding: 0.5rem;
}

.content {
    position: relative;
    padding: 1rem 1rem 1rem 1rem;
    height: 100%;
}

.content>header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid#8CBEB2;
}

.post>header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}

.post>header>div:first-of-type {
    flex: auto;
}

.post>header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.post .about {
    color: slategray;
    font-style: italic;
}

.post .body {
    white-space: pre-line;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #5C4B51;
    font-family: serif;
}

.content input,
.content textarea {
    margin: auto;
    margin-bottom: 1em;
    width: auto;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    min-width: 5em;
    margin: 0 auto;
    width: auto;
}

/* 白色立体のネクストボタン */

input[type=submit] {
    border: 1px solid #ccc;
    background: #f1e767;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
    -webkit-box-shadow: inset 1px 1px 1px #fff;
    box-shadow: inset 1px 1px 1px #fff;
}

input[type=submit]:active {
    background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

}
#loading-outer {
    position: relative;
}

#loading {
    width: 50%;
    height: 10%;
    margin: auto;
    display: none;
    background: url(/static/loadingimage.gif) no-repeat;
    cursor: wait;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

