{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <p><label>性別：
        <select name="gender">
            <option value="男">男</option>
            <option value="女">女</option>
            <option value="その他">その他</option>
        </select>
    </label></p>

    <p><label>お酒の強さ：
        <select name="alcohol">
            <option value="たくさん飲む">たくさん飲む</option>
            <option value="普通">普通</option>
            <option value="あまり飲まない">あまり飲まない</option>
            <option value="全く飲まない">全く飲まない</option>
        </select>
    </label></p>

    <p><label>たばこ：
        <select name="smoke">
            <option value="吸う">吸う</option>
            <option value="吸わない">吸わない</option>
            <option value="無理">無理</option>
        </select>
    </label></p>
    <input type="submit" value="Register">
  </form>
{% endblock %}
