{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}情報の編集{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <p><label>性別：
        <select name="gender">
            {% for gen in gender_list %} 
                {% if gen == gender %}
                    <option value={{gen}} selected>{{gen}}</option>
                {% else %}
                    <option value={{gen}}>{{gen}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </label></p>

    <p><label>お酒の強さ：
        <select name="alcohol">
            {% for alc in alcohol_list %} 
                {% if alc == alcohol %}
                    <option value={{alc}} selected>{{alc}}</option>
                {% else %}
                    <option value={{alc}}>{{alc}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </label></p>

    <p><label>たばこ：
        <select name="smoke">
            {% for smo in smoke_list %} 
                {% if smo == smoke %}
                    <option value={{smo}} selected>{{smo}}</option>
                {% else %}
                    <option value={{smo}}>{{smo}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </label></p>
  <input type="submit" value="完了">
</form>
<h1>趣味一覧</h1>
<a href="{{ url_for('auth.add_hobbys') }}">追加</a>
<p>
  {% for hobby in hobbys %}
    ・{{ hobby['category'] }}
  {% endfor %}
</p>

{% endblock %}
